@model List<MySensei.Models.Course>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>Det her er forsiden</h1>

@using (Html.BeginForm("SearchCourses", "Courses", FormMethod.Post))
{
    <p>
        Søg efter kursus: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}


 


@foreach (var course in Model)
{
    <p>@course.Title</p>
}