@import url(reset.css);
@import url(form.css);
@import url(fontawesome.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
body {
  background-color: #ffffff;
  color: #3B3B3B;
  font-family: Helvetica, sans serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.8; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1; }

a {
  text-decoration: none;
  color: #47b7b7; }
  a .rev {
    color: #ffcb63; }
  a .rev:hover {
    color: #47b7b7; }

a:hover {
  color: #ffcb63; }

#wrapper {
  width: 100%;
  margin: 0 auto; }

#main {
  background-color: #fff;
  padding-top: 100px; }

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 5%; }

.main-content section {
  padding: 30px 0; }

section h1 {
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: #ffcb63; }

section p {
  margin-bottom: 30px; }

section p:last-child {
  margin-bottom: 0; }

section .grey {
  background-color: #efefef;
  color: #3B3B3B; }

.bluebg {
  margin-top: 30px;
  background-color: #47b7b7;
  color: white; }

.dark {
  background-color: #3B3B3B;
  color: #ffffff; }

header {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
  header .logo {
    display: inline-block;
    height: 25px;
    margin-top: 25px;
    float: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  header nav {
    width: auto;
    display: inline-block;
    float: right; }
    header nav a {
      line-height: 80px;
      margin-left: 20px;
      color: black;
      font-weight: 400;
      font-size: 14px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    header nav a:hover {
      color: #47b7b7; }

.small {
  height: 75px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .small h1#logo {
    width: 150px;
    height: 75px;
    line-height: 75px;
    font-size: 30px; }
  .small nav a {
    line-height: 75px; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

.page-wrap {
  float: left;
  width: 100%;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease; }

.side-content {
  margin-top: 20px; }

.sidebar {
  position: fixed;
  top: 75px;
  right: 0;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: auto;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease; }

.sidebar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; }

.sidebar h3 {
  display: inline;
  text-transform: uppercase;
  color: #ffcb63;
  font-family: 'Roboto Slab', serif; }

#sidebar section {
  padding: 5px 0; }

.close-menu {
  font-size: 20px; }

#sidebar:target {
  width: 30%;
  padding: 0 15px 0 15px; }

#sidebar:target + .page-wrap {
  width: 100%;
  left: 30%; }

#sidebar:target + .close-menu {
  display: block; }

.half {
  width: 50%;
  padding: 0 15px !important;
  margin-top: 15px;
  float: left; }

.grid-4 {
  width: 23%;
  float: left;
  padding: 10px;
  margin: 1%;
  background: #3B3B3B; }
  .grid-4 h3 {
    color: #47b7b7;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px; }
  .grid-4 p {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 100; }

.split {
  width: 46%;
  padding: 0 2%;
  float: left; }
  .split .mform {
    margin-left: -2% !important;
    margin-top: 30px; }

.center {
  margin: 0 auto;
  padding-top: 15px;
  text-align: center; }

.s-btn {
  width: 100%;
  color: #fff !important;
  font-weight: bold !important; }

.s-btn:hover {
  background: #47b7b7 !important;
  color: #fff; }

.behind {
  z-index: -100; }

@media all and (max-width: 1024px) {
  section h1 {
    font-size: 40px; }
  .split {
    width: 70%; }
    .split form {
      margin-top: 20px !important; }
    .split .hr {
      margin-top: 40px;
      margin-bottom: 20px;
      border-top: 1px solid #ffcb63; }
  #sidebar:target {
    width: 50%;
    padding: 0 15px 0 15px; } }

@media all and (max-width: 768px) {
  .split {
    width: 80%; }
  .sidebar {
    position: absolute; }
  #sidebar:target {
    width: 80%; }
  .grid-4 {
    width: 46%;
    padding: 0 1%; } }

@media all and (max-width: 480px) {
  section {
    padding: 30px 0; }
    section h1 {
      font-size: 25px; }
  header .logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 20px;
    margin-top: 10px;
    line-height: 40px;
    text-align: center; }
  header nav {
    display: block;
    float: none;
    height: 20px;
    text-align: center;
    margin: 0 auto; }
  header nav a {
    line-height: 35px;
    margin: 0 10px; }
  header .small {
    height: 75px; }
  header .small .logo {
    height: 30px; }
  header .small nav {
    height: 30px; }
  header .small nav a {
    line-height: 25px; }
  header #sidebar:target {
    width: 90%; }
  .split {
    width: 100%; }
  .sidebar {
    position: absolute; } }

