@import url(reset.css);
@import url(fontawesome.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
.mform {
  margin: 0;
  outline: none;
  font: 13px/1.55  Helvetica, Arial, sans-serif;
  color: #ffcb63; }

.mform fieldset {
  display: block;
  padding: 0 5px;
  border: none; }

.mform fieldset + fieldset {
  border-top: 1px solid #ffcb63; }

.mform section {
  margin-bottom: 20px; }

.mform footer {
  display: block;
  padding: 15px 30px 25px;
  border-top: 1px solid #ffcb63; }

.mform footer:after {
  content: '';
  display: table;
  clear: both; }

.mform a {
  color: #ffcb63; }

.mform .label {
  display: block;
  margin-bottom: 6px;
  line-height: 19px; }

.mform .label.col {
  margin: 0;
  padding-top: 10px; }

.mform .note {
  margin-top: 6px;
  padding: 0 1px;
  font-size: 11px;
  line-height: 15px;
  color: #ffcb63; }

.mform .input,
.mform .select,
.mform .textarea,
.mform .radio,
.mform .checkbox,
.mform .toggle,
.mform .button {
  position: relative;
  display: block; }

.sform .input input,
.sform .select select,
.sform .textarea textarea,
.mform .input input,
.mform .select select,
.mform .textarea textarea {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 39px;
  padding: 8px 10px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
  background: #fff;
  font: 15px/19px  Helvetica, Arial, sans-serif;
  color: #3B3B3B;
  -moz-appearance: none;
  -webkit-appearance: none; }

/**/
/* file inputs */
/**/
.mform .input-file .button {
  position: absolute;
  top: 4px;
  right: 4px;
  float: none;
  height: 31px;
  margin: 0;
  padding: 0 20px;
  font-size: 13px;
  line-height: 31px; }

.mform .input-file .button:hover {
  box-shadow: none; }

.mform .input-file .button input {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  font-size: 30px;
  cursor: pointer;
  opacity: 0; }

/**/
/* selects */
/**/
.mform .select i {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 5px;
  height: 11px;
  background: #fff;
  box-shadow: 0 0 0 12px #fff; }

.mform .select i:after,
.mform .select i:before {
  content: '';
  position: absolute;
  right: 0;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.mform .select i:after {
  bottom: 0;
  border-top: 4px solid #ffcb63; }

.mform .select i:before {
  top: 0;
  border-bottom: 4px solid #ffcb63; }

.mform .select-multiple select {
  height: auto; }

/**/
/* textareas */
/**/
.mform .textarea textarea {
  height: auto;
  resize: none; }

.mform .textarea-resizable textarea {
  resize: vertical; }

.mform .textarea-expandable textarea {
  height: 39px; }

.mform .textarea-expandable textarea:focus {
  height: auto; }

/**/
/* radios and checkboxes */
/**/
.mform .radio,
.sidebar .checkbox
.mform .checkbox {
  margin-bottom: 4px;
  padding-left: 27px;
  font-size: 15px;
  line-height: 27px;
  color: #ffcb63;
  cursor: pointer; }

.mform .radio:last-child,
.sidebar .checkbox:last-child,
.mform .checkbox:last-child {
  margin-bottom: 0; }

.mform .radio input,
.mform .checkbox input {
  position: absolute;
  left: -9999px; }

.mform .radio i,
.mform .checkbox i {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 13px;
  height: 13px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  background: #fff; }

.mform .radio i {
  border-radius: 50%; }

.mform .radio input + i:after,
.sidebar .checkbox input + i:after,
.mform .checkbox input + i:after {
  position: absolute;
  opacity: 0;
  -o-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s; }

.mform .radio input + i:after {
  content: '';
  top: 4px;
  left: 4px;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.sidebar .checkbox input + i:after,
.mform .checkbox input + i:after {
  content: '\f00c';
  top: -1px;
  left: -1px;
  width: 15px;
  height: 15px;
  font: normal 12px/16px FontAwesome;
  text-align: center; }

.mform .radio input:checked + i:after,
.sidebar .checkbox input:checked + i:after,
.mform .checkbox input:checked + i:after {
  opacity: 1; }

.mform .inline-group {
  margin: 0 -30px -4px 0; }

.mform .inline-group:after {
  content: '';
  display: table;
  clear: both; }

.mform .inline-group .radio,
.mform .inline-group .checkbox {
  float: left;
  margin-right: 30px; }

.mform .inline-group .radio:last-child,
.mform .inline-group .checkbox:last-child {
  margin-bottom: 4px; }

/**/
/* toggles */
/**/
.mform .toggle {
  margin-bottom: 4px;
  padding-right: 61px;
  font-size: 15px;
  line-height: 27px;
  color: #ffcb63;
  cursor: pointer; }

.mform .toggle:last-child {
  margin-bottom: 0; }

.mform .toggle input {
  position: absolute;
  left: -9999px; }

.mform .toggle i {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  display: block;
  width: 49px;
  height: 17px;
  border-width: 2px;
  border-style: solid;
  border-radius: 12px;
  background: #fff; }

.mform .toggle i:after {
  content: 'OFF';
  position: absolute;
  top: 2px;
  right: 8px;
  left: 8px;
  font-style: normal;
  font-size: 9px;
  line-height: 13px;
  font-weight: 700;
  text-align: left;
  color: #ffcb63; }

.mform .toggle i:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 4px;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  opacity: 1;
  -o-transition: right 0.2s;
  -moz-transition: right 0.2s;
  -webkit-transition: right 0.2s;
  transition: right 0.2s; }

.mform .toggle input:checked + i:after {
  content: 'ON';
  text-align: right; }

.mform .toggle input:checked + i:before {
  right: 36px; }

/**/
/* buttons */
/**/
.mform .button {
  float: right;
  height: 39px;
  overflow: hidden;
  margin: 10px 0 0 20px;
  padding: 0 25px;
  outline: none;
  border: 0;
  font: 300 15px/39px  Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  cursor: pointer; }

/**/
/* grid */
/**/
.mform .row {
  margin: 0 -15px; }

.mform .row:after {
  content: '';
  display: table;
  clear: both; }

.mform .col {
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mform .col-1 {
  width: 8.33%; }

.mform .col-2 {
  width: 16.66%; }

.mform .col-3 {
  width: 25%; }

.mform .col-4 {
  width: 33.33%; }

.mform .col-5 {
  width: 41.66%; }

.mform .col-6 {
  width: 50%; }

.mform .col-8 {
  width: 66.67%; }

.mform .col-9 {
  width: 75%; }

.mform .col-10 {
  width: 83.33%; }

@media screen and (max-width: 600px) {
  .mform .col {
    float: none;
    width: 100%; } }

/**/
/* tooltips */
/**/
.mform .tooltip {
  position: absolute;
  z-index: 1;
  left: -9999px;
  padding: 2px 8px 3px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  opacity: 0;
  -o-transition: margin 0.3s, opacity 0.3s;
  -moz-transition: margin 0.3s, opacity 0.3s;
  -webkit-transition: margin 0.3s, opacity 0.3s;
  transition: margin 0.3s, opacity 0.3s; }

.mform .tooltip:after {
  content: '';
  position: absolute; }

.mform .input input:focus + .tooltip,
.mform .textarea textarea:focus + .tooltip {
  opacity: 1; }

.mform .tooltip-top-right {
  bottom: 100%;
  margin-bottom: 15px; }

.mform .tooltip-top-right:after {
  top: 100%;
  right: 16px;
  border-top: 4px solid rgba(0, 0, 0, 0.9);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.mform .input input:focus + .tooltip-top-right,
.mform .textarea textarea:focus + .tooltip-top-right {
  right: 0;
  left: auto;
  margin-bottom: 5px; }

.mform .tooltip-top-left {
  bottom: 100%;
  margin-bottom: 15px; }

.mform .tooltip-top-left:after {
  top: 100%;
  left: 16px;
  border-top: 4px solid rgba(0, 0, 0, 0.9);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.mform .input input:focus + .tooltip-top-left,
.mform .textarea textarea:focus + .tooltip-top-left {
  right: auto;
  left: 0;
  margin-bottom: 5px; }

.mform .tooltip-right {
  top: 9px;
  white-space: nowrap;
  margin-left: 15px; }

.mform .tooltip-right:after {
  top: 6px;
  right: 100%;
  border-top: 4px solid transparent;
  border-right: 4px solid rgba(0, 0, 0, 0.9);
  border-bottom: 4px solid transparent; }

.mform .input input:focus + .tooltip-right,
.mform .textarea textarea:focus + .tooltip-right {
  left: 100%;
  margin-left: 5px; }

.mform .tooltip-left {
  top: 9px;
  white-space: nowrap;
  margin-right: 15px; }

.mform .tooltip-left:after {
  top: 6px;
  left: 100%;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid rgba(0, 0, 0, 0.9); }

.mform .input input:focus + .tooltip-left,
.mform .textarea textarea:focus + .tooltip-left {
  right: 100%;
  left: auto;
  margin-right: 5px; }

.mform .tooltip-bottom-right {
  top: 100%;
  margin-top: 15px; }

.mform .tooltip-bottom-right:after {
  bottom: 100%;
  right: 16px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(0, 0, 0, 0.9);
  border-left: 4px solid transparent; }

.mform .input input:focus + .tooltip-bottom-right,
.mform .textarea textarea:focus + .tooltip-bottom-right {
  right: 0;
  left: auto;
  margin-top: 5px; }

.mform .tooltip-bottom-left {
  top: 100%;
  margin-top: 15px; }

.mform .tooltip-bottom-left:after {
  bottom: 100%;
  left: 16px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(0, 0, 0, 0.9);
  border-left: 4px solid transparent; }

.mform .input input:focus + .tooltip-bottom-left,
.mform .textarea textarea:focus + .tooltip-bottom-left {
  right: auto;
  left: 0;
  margin-top: 5px; }

/**/
/* normal state */
/**/
.sform .input input,
.mform .input input,
.mform .select select,
.mform .textarea textarea,
.mform .radio i,
.sidebar .checkbox i,
.mform .checkbox i,
.mform .toggle i,
.mform .icon-append,
.mform .icon-prepend {
  border-color: #ffcb63;
  -o-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s; }

.mform .toggle i:before {
  background-color: #ffcb63; }

.mform .rating label {
  color: #ffcb63;
  -o-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.sform .button {
  background-color: #ffcb63;
  border: none;
  margin-top: 10px;
  padding: 10px; }

.mform .button {
  background-color: #ffcb63;
  opacity: 0.8;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.mform .button.button-secondary {
  background-color: #ffcb63; }

.mform .icon-append,
.mform .icon-prepend {
  color: #ffcb63; }

/**/
/* hover state */
/**/
.sform .input:hover input,
.sform .select:hover select,
.mform .input:hover input,
.mform .select:hover select,
.mform .textarea:hover textarea,
.mform .radio:hover i,
.sidebar .checkbox:hover i
.mform .checkbox:hover i,
.mform .toggle:hover i {
  border-color: #47b7b7; }

.mform .rating input + label:hover,
.mform .rating input + label:hover ~ label {
  color: #ffcb63; }

.mform .button:hover {
  opacity: 1; }

/**/
/* focus state */
/**/
.mform .input input:focus,
.mform .select select:focus,
.mform .textarea textarea:focus,
.mform .radio input:focus + i,
.sidebar .checkbox input:focus + i,
.mform .checkbox input:focus + i,
.mform .toggle input:focus + i {
  border-color: #47b7b7; }

/**/
/* checked state */
/**/
.mform .radio input + i:after {
  background-color: #ffcb63; }

.sidebar .checkbox input + i:after,
.mform .checkbox input + i:after {
  color: #ffcb63; }

.mform .radio input:checked + i,
.sidebar .checkbox input:checked + i
.mform .checkbox input:checked + i,
.mform .toggle input:checked + i {
  border-color: #ffcb63; }

.mform .rating input:checked ~ label {
  color: #ffcb63; }

/**/
/* error state */
/**/
.mform .state-error input,
.mform .state-error select,
.mform .state-error textarea,
.mform .radio.state-error i,
.mform .checkbox.state-error i,
.mform .toggle.state-error i {
  background: #fff0f0; }

.mform .state-error select + i {
  background: #fff0f0;
  box-shadow: 0 0 0 12px #fff0f0; }

.mform .toggle.state-error input:checked + i {
  background: #fff0f0; }

.mform .note-error {
  color: #ee9393; }

/**/
/* success state */
/**/
.mform .state-success input,
.mform .state-success select,
.mform .state-success textarea,
.mform .radio.state-success i,
.mform .checkbox.state-success i,
.mform .toggle.state-success i {
  background: #f0fff0; }

.mform .state-success select + i {
  background: #f0fff0;
  box-shadow: 0 0 0 12px #f0fff0; }

.mform .toggle.state-success input:checked + i {
  background: #f0fff0; }

.mform .note-success {
  color: #6fb679; }

/**/
/* disabled state */
/**/
.mform .input.state-disabled input,
.mform .select.state-disabled,
.mform .textarea.state-disabled,
.mform .radio.state-disabled,
.mform .checkbox.state-disabled,
.mform .toggle.state-disabled,
.mform .button.state-disabled {
  cursor: default;
  opacity: 0.5; }

.mform .input.state-disabled:hover input,
.mform .select.state-disabled:hover select,
.mform .textarea.state-disabled:hover textarea,
.mform .radio.state-disabled:hover i,
.mform .checkbox.state-disabled:hover i,
.mform .toggle.state-disabled:hover i {
  border-color: #ffcb63; }

.mform ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #3B3B3B; }

.mform :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #3B3B3B;
  opacity: 1; }

.mform ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #3B3B3B;
  opacity: 1; }

.mform :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3B3B3B; }

body {
  background-color: #ffffff;
  color: #3B3B3B;
  font-family: Helvetica, sans serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.8; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1; }

a {
  text-decoration: none;
  color: #47b7b7; }
  a .rev {
    color: #ffcb63; }
  a .rev:hover {
    color: #47b7b7; }

a:hover {
  color: #ffcb63; }

#wrapper {
  width: 100%;
  margin: 0 auto; }

#main {
  background-color: #fff;
  padding-top: 100px; }

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 5%; }

.main-content section {
  padding: 30px 0; }

section h1 {
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: #ffcb63; }

section p {
  margin-bottom: 30px; }

section p:last-child {
  margin-bottom: 0; }

section .grey {
  background-color: #efefef;
  color: #3B3B3B; }

.bluebg {
  margin-top: 30px;
  background-color: #47b7b7;
  color: white; }

.dark {
  background-color: #3B3B3B;
  color: #ffffff; }

header {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
  header .logo {
    display: inline-block;
    height: 25px;
    margin-top: 25px;
    float: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  header nav {
    width: auto;
    display: inline-block;
    float: right; }
    header nav a {
      line-height: 80px;
      margin-left: 20px;
      color: black;
      font-weight: 400;
      font-size: 14px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    header nav a:hover {
      color: #47b7b7; }

.small {
  height: 75px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .small h1#logo {
    width: 150px;
    height: 75px;
    line-height: 75px;
    font-size: 30px; }
  .small nav a {
    line-height: 75px; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

.page-wrap {
  float: left;
  width: 100%;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease; }

.side-content {
  margin-top: 20px; }

.sidebar {
  position: fixed;
  top: 75px;
  right: 0;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: auto;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease; }
  .sidebar .button {
    width: 100%;
    margin-top: 15px;
    border: none;
    height: 35px;
    background: #ffcb63;
    color: #FFF;
    font-weight: bold; }
  .sidebar .button:hover {
    background: #47b7b7; }
  .sidebar .hr {
    height: 20px;
    margin-top: 10px;
    border-top: 1px solid #ffcb63; }

.sidebar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; }

.sidebar h3 {
  display: inline;
  text-transform: uppercase;
  color: #ffcb63;
  font-family: 'Roboto Slab', serif; }

.sidebar section {
  padding: 5px 0; }

.close-menu {
  font-size: 20px; }

.sidebar:target {
  width: 30%;
  padding: 0 15px 0 15px; }

.sidebar:target + .page-wrap {
  width: 100%;
  left: 30%; }

.sidebar:target + .close-menu {
  display: block; }

.half {
  width: 50%;
  padding: 0 15px !important;
  margin-top: 15px;
  float: left; }

.grid-4 {
  width: 23%;
  float: left;
  padding: 10px;
  margin: 1%;
  background: #3B3B3B; }
  .grid-4 h3 {
    color: #47b7b7;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px; }
  .grid-4 p {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 100; }

.split {
  width: 46%;
  padding: 0 2%;
  float: left; }
  .split .mform {
    margin-left: -2% !important;
    margin-top: 30px; }

.center {
  margin: 0 auto;
  padding-top: 15px;
  text-align: center; }

.s-btn {
  width: 100%;
  color: #fff !important;
  font-weight: bold !important; }

.s-btn:hover {
  background: #47b7b7 !important;
  color: #fff; }

.behind {
  z-index: -100; }

.fbg {
  background: url("img/bg_1024.png") no-repeat; }

.s-height {
  min-height: 80px; }

.profile-picture {
  min-width: 15.5%;
  margin-left: 2.5%;
  padding: 0 1%;
  float: left; }
  .profile-picture img {
    max-height: 200px; }

.profile-content {
  width: 38%;
  padding: 0 1%;
  float: left; }
  .profile-content h2 {
    color: #ffcb63;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 0; }
  .profile-content p {
    text-transform: uppercase;
    border: 1px solid #ffcb63;
    margin-bottom: 10px;
    padding: 5px; }

.profile-courses {
  background: #47b7b7;
  margin-right: -30px !important;
  width: 38%;
  padding: 0 1%;
  float: left; }
  .profile-courses h2 {
    text-align: center;
    color: #ffcb63;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 0; }

@media all and (max-width: 1024px) {
  section h1 {
    font-size: 40px; }
  .split {
    width: 75%; }
    .split form {
      margin-top: 20px !important; }
  .sidebar:target {
    width: 50%;
    padding: 0 15px 0 15px; }
  .s-height {
    min-height: 20px; } }

@media all and (max-width: 768px) {
  .fbg {
    background: url("img/bg_768.png"); }
  .split {
    width: 80%; }
  .sidebar {
    position: absolute; }
  .sidebar:target {
    width: 80%; }
  .grid-4 {
    width: 46%;
    padding: 0 1%; } }

@media all and (max-width: 480px) {
  .fbg {
    background: none !important; }
  section {
    padding: 30px 0; }
    section h1 {
      font-size: 25px; }
  header .logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 20px;
    margin-top: 10px;
    line-height: 40px;
    text-align: center; }
  header nav {
    display: block;
    float: none;
    height: 20px;
    text-align: center;
    margin: 0 auto; }
  header nav a {
    line-height: 35px;
    margin: 0 10px; }
  header .small {
    height: 75px; }
  header .small .logo {
    height: 30px; }
  header .small nav {
    height: 30px; }
  header .small nav a {
    line-height: 25px; }
  header .sidebar:target {
    width: 90%; }
  .split {
    width: 100%; }
  .sidebar {
    position: absolute; } }

