@model MySensei.Models.Course
@{
    ViewBag.Title = "SingleCourse";
}

<h2>SingleCourse</h2>

@Model.Title <br/>

@Model.Description

@Html.ActionLink("Timeld Kursus" ,"JoinCourse", new {courseId = Model.CourseID})