@model MySensei.Models.AppUser
@{
    ViewBag.Title = "Index";
}

<h2>Profil</h2>

@Html.ActionLink("Edit Profile","Edit")

@Model.FirstName

@Model.LastName

@foreach (var course in Model.Courses)
{
    @course.Title
}