@import "reset.css";
$dark : #3B3B3B;
$blue : #47b7b7;
$yellow : #ffcb63;
$light-grey : #efefef;

body {
  background-color: #ffffff;
  color: $dark;
  font-family: Helvetica, sans serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
   }

a {
  text-decoration: none;
  color: $blue;

        .rev{ color: $yellow ;}
        .rev:hover{color: $blue}
  }
a:hover {color: $yellow; }

#wrapper {
  width: 100%;
  margin: 0 auto; }

#main {
  background-color: #fff;
  margin-top: 120px;
 }

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 5% ; }

header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $light-grey ;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; 
  
       .logo {
        display: inline-block;
        height: 25px;
	    margin-top:25px;
        float: left;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        
       nav {
           width:auto;
        display: inline-block;
        float: right;
             a {
              line-height: 80px;
              margin-left: 20px;
              color: black;
              font-weight: 400;
              font-size: 14px;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s; 
                    }
                 
             a:hover {
                        color: $blue; 
                        }
             }
             
 }

table {
    font-size:16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

 td, th {
    border: 1px solid #efefef;
    text-align: left;
    padding: 8px;
}

 tr:nth-child(even){background-color: #f2f2f2}

 th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: $blue;
    color: white;
}